/* iOS Cordova Tweak */
.device-cordova.device-ios {
  height: 100vh;
}

/* Custom color theme properties */
:root {
  --f7-theme-color: #6d3fff;
  --f7-theme-color-rgb: 109, 63, 255;
  --f7-theme-color-shade: #4e16ff;
  --f7-theme-color-tint: #8c68ff;
}

/* Your app custom styles here */